<nav class="navbar">
  <%= image_tag "califindlogo.png", alt: 'califind logo', style: "width:170px; margin-left: 10px;" %>
  <div class="nav-links">
    <%= link_to "Map", maps_path %>
  </div>
</nav>

<div class="container rounded">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: parks_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control rounded-border",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary rounded-border margin-left"%>
      <% end %>
    </div>
  </div>
</div>

<div class="card-container">
  <% if @parks.any? %>
    <% @parks.each do |park| %>
      <a href="/parks/<%= park.id %>"class="card" target="_blank">
        <img src="<%= park.img_url %>">
        <div class="card-content">
          <h5><strong><%= park.name %></strong></h5>
          <h6><%= park.location %></h6>
        </div>
      </a>
    <% end %>
  <% else %>
    <p>Sorry bro! No calisthenics parks found 😢</p>
  <% end %>
</div>
