<nav class="navbar">
  <h2>All Calisthenics Parks</h2>
</nav>

<div class="card-container">
  <% @parks.each do |park| %>
    <a href="/parks/<%= park.id %>"class="card" target="_blank">
      <img src="<%= park.img_url %>">
      <div class="card-content">
        <h4><strong><%= park.name %></strong></h4>
        <h5><%= park.location %></h5>
      </div>
    </a>
  <% end %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
