<nav class="navbar">
  <h2><%= @park.name %></h2>
</nav>

<div class="image-card">
  <img src="<%= @park.img_url %>">
</div>

<h4><strong><%= @park.name %></strong></h4>
<h5><%= @park.location %></h5>
<h5><%= @park.description %></h6>
