<nav class="navbar">
  <a href="/">
    <%= image_tag "califindlogo.png", alt: 'califind logo', style: "width:170px; margin-left: 10px;" %>
  </a>
</nav>

<div style="margin-top: 30px; gap: 15px;" class="card-content">
  <h2><strong><%= @park.name %></strong></h2>
  <h5>Location: <%= @park.location %></h5>
  <h5>Description: <%= @park.description %></h5>
</div>

<div class="card-container">
  <div class="card park">
    <img src="<%= @park.img_url %>">
  </div>
  <% if @park.img_url_2 %>
    <div class="card park">
      <img src="<%= @park.img_url_2 %>">
    </div>
  <% end %>
  <% if @park.img_url_3 %>
    <div class="card park">
      <img src="<%= @park.img_url_3 %>">
    </div>
  <% end %>
</div>

<div style="border-radius: 8px; margin: 20px auto; width: 90%; height: 92vh;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
