<nav class="navbar">
  <a href="/">
    <%= image_tag "califindlogo.png", alt: 'califind logo', style: "width:170px; margin-left: 10px;" %>
  </a>
</nav>

<h2><%= @park.name %></h2>

<div class="image-card">
  <img src="<%= @park.img_url %>">
</div>

<h4><strong><%= @park.name %></strong></h4>
<h5><%= @park.location %></h5>
<h5><%= @park.description %></h6>
